*.so filter=lfs diff=lfs merge=lfs -text
*.so.* filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
adla-toolkit-binary-1.2.0.9/python/convert filter=lfs diff=lfs merge=lfs -text
adla-toolkit-binary-1.2.0.9/bin/adlalib/adla_convert filter=lfs diff=lfs merge=lfs -text
